---
const { frontmatter } = Astro.props;
const currentPath = Astro.url.pathname;
// TODO: sistemare la descrizione statica
---
<link rel="icon" href="favicon-light.webp" type="image/x-icon">
<link rel="icon" href="favicon-light.webp" type="image/x-icon" media="(prefers-color-scheme: light)">
<link rel="icon" href="favicon-dark.webp" type="image/x-icon" media="(prefers-color-scheme: dark)">

<meta property="og:title" content={ frontmatter.title ? frontmatter.title : 'Barbieri Notes' } />
<meta property="og:type" content="website" />
<meta property="og:url" content={ currentPath } />
<meta property="og:description" content="Personal website of Francesco Barbieri." />

<link rel="sitemap" href="/sitemap-index.xml" />

<title>{ frontmatter.title ? frontmatter.title : 'Barbieri Notes' }</title>
<meta name="description" content="Personal website of Francesco Barbieri.">
<meta name="author" content="Francesco Barbieri">
<meta name="keywords" content="Barbieri, Francesco Barbieri, Software Engineer, HPC">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">