---
const { title } = Astro.props;
---

<header class="pt-12 mb-8 flex flex-col items-start">
  <a class="inline-block font-medium no-underline" href="/">
    { title ? title : "Barbieri Notes"}
  </a>
  <a class="flex text-gray-400 no-underline" href="/">Francesco Barbieri</a>
</header>