---
const { title } = Astro.props;
---

<header>
  {title == "Barbieri Notes" ? (
    <h1><a href="/">Barbieri Notes</a></h1>
  ) : (
    <h1>{title}</h1>
  )}
  <a class="backlink" href="/">Francesco Barbieri</a>
</header>

<style>
  header {
    padding-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-items: start;
    line-height: 1.5rem;
  }

  a {
    color: black;
  }

  a:hover {
    color: inherit;
    background-color: transparent;
  }

  .backlink {
    display: flex;
    color: #6C7589;
    text-decoration: none;
  }

  .backlink:hover {
    color: oklch(70.7% 0.022 261.325);
  }
</style>