---
const { title } = Astro.props;
---

<header>
  {title == "Barbieri Notes" ? (
    <h1><a href="/" class="logo-font">BARBIERI NOTES</a></h1>
  ) : (
    <h1><a href="/" class="logo-font"> {title} </a></h1>
  )}
  <a class="author" href="/">by Francesco Barbieri</a>
</header>

<style>
  header {
    padding-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-items: start;
    line-height: 1.5rem;
  }

  a {
    color: black;
  }

  a:hover {
    color: inherit;
    background-color: transparent;
  }

  .author {
    display: flex;
    color: #6C7589;
    text-decoration: none;
    font-style: italic;
    font-size: 0.85rem;
  }

  .author:hover {
    color: #6C7589;
  }

  .logo-font {
    font-family: "Mencken";
    font-size: 2rem;
    font-weight: 800;
  }
  
</style>