---
import "../styles/globals.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { frontmatter } = Astro.props;

const links =[
	{ name: '@fmbarbieri', url: 'https://www.instagram.com/fmbarbieri/' },
	{ name: 'linkedin', url: 'https://www.linkedin.com/in/barbieri-francesco' },
	{ name: 'github', url: 'https://github.com/francescobarbieri' },
];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name='language' content='en'>
		<meta name='copyright' content='Barbieri Notes' />
		<meta name="generator" content={Astro.generator} />
		<meta name='url' content='https://www.barbierinotes.com'>
		<meta name='author' content='Francesco Barbieri, me@barbierinotes.com'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name='keywords' content='barbierinotes, barbieri notes, francesco barbieri, software, engineer, hpc' />

		<title>{frontmatter.title ? frontmatter.title : "Barbieri Notes"}</title>
		<meta name="description" content={frontmatter.description ? frontmatter.description : ''}>

		<meta name='og:title' content='The Rock'>
		<meta name='og:type' content='movie'>
		<meta name='og:url' content='http://www.imdb.com/title/tt0117500/'>
		<meta name='og:image' content='http://ia.media-imdb.com/rock.jpg'>
		<meta name='og:site_name' content='IMDb'>
		<meta name='og:description' content={frontmatter.description ? frontmatter.description : ''}>

		<link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
		<link rel="shortcut icon" href="/favicons/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Barbieri Notes" />
		<link rel="manifest" href="/favicons/site.webmanifest" />
	</head>
	<body>
		<div class="container">
			<main>
				<Header title={frontmatter.title ? frontmatter.title : "Barbieri Notes"}/>
				<slot />
			</main>
			<Footer links={links} />
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
		--tw-tracking: -0.025em;
		letter-spacing: -0.025em;
	}

	.container {
		min-height: calc(100svh - 2rem);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 0;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-bottom: 2rem;
		color: oklch(21% 0.034 264.665);
	}

	@media (width >= 48rem) {
		.container {
			min-height: calc(100svh - 4rem);
			padding-top: 2rem;
		}
	}

	main {
		max-width: 60ch;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
</style>
