---
import "../styles/globals.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from '@vercel/speed-insights/astro';

const { frontmatter } = Astro.props;

const links =[
	{ name: '@fmbarbieri', url: 'https://www.instagram.com/fmbarbieri/' },
	{ name: 'linkedin', url: 'https://www.linkedin.com/in/barbieri-francesco' },
	{ name: 'github', url: 'https://github.com/francescobarbieri' },
];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name='language' content='en'>
		<meta name='copyright' content='Barbieri Notes' />
		<meta name="generator" content={Astro.generator} />
		<meta name='url' content='https://www.barbierinotes.com'>
		<meta name='author' content='Francesco Barbieri, me@barbierinotes.com'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name='keywords' content='barbierinotes, barbieri notes, francesco barbieri, software, engineer, hpc' />

		<title>{frontmatter.title ? frontmatter.title : "Barbieri Notes"}</title>
		<meta name="description" content={frontmatter.description ? frontmatter.description : ''}>

		<link rel="preload" href="/fonts/inter-latin-regular.woff2" as="font" crossorigin="anonymous">
		<link rel="preload" href="/fonts/inter-latin-500.woff2" as="font" crossorigin="anonymous">

		<meta name='og:title' content='Barbieri Notes'>
		<meta name='og:type' content='website'>
		<meta name='og:url' content='http://www.barbierinotes.com/'>
		<meta name='og:site_name' content='Barbieri Notes'>
		<meta name='og:description' content={frontmatter.description ? frontmatter.description : ''}>

		<link rel="icon" href="/favicons/favicon-dark.webp"  media="(prefers-color-scheme:dark)">
		<link rel="icon" href="/favicons/favicon-light.webp" media="(prefers-color-scheme:light)">
		
		<Analytics />
		<SpeedInsights />
	</head>
	<body>
		<div class="container">
			<main>
				<Header title={frontmatter.title ? frontmatter.title : "Barbieri Notes"}/>
				<slot />
			</main>
			<Footer links={links} />
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
		--tw-tracking: -0.025em;
		letter-spacing: -0.025em;
	}

	.container {
		min-height: calc(100svh - 2rem);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 0;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-bottom: 2rem;
		color: oklch(21% 0.034 264.665);
	}

	@media (width >= 48rem) {
		.container {
			min-height: calc(100svh - 4rem);
			padding-top: 2rem;
		}
	}

	main {
		max-width: 60ch;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
</style>
